body {
    font-family: Arial, sans-serif;
    margin: 0px 15px;
    padding: 0px 15px;
}
/* css cho table của phpgrid*/
.ui-jqgrid-htable th,
.ui-jqgrid tr.jqgrow td{ 
    text-transform: capitalize; 
}
.ui-jqgrid-htable th div{
    font-weight: bold;
}

/* css cho phần menu*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1590C2;
}

#menu ul li {
    float: left;
}

#menu  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menu  ul li a:hover,
#menu .active {
    background-color: #ddd;
    color:black;
}

/* css cho footer*/
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.ui-tabs-panel #subtitle{
  display:none;
}

/* css cho form login*/
.login-form {
    background: #e2e2e5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
@media (max-width: 767px) {
.login-form {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}
@media (max-width: 767px) {
.container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
.left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.name {
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0px 50px 40px;
}
.description {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}
.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
.right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.form {
    margin: 40px;
    position: absolute;
}
label {
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0px;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}
#submit {
    margin-top: 40px;
    border-color: #efefef;
    height: 30px;
    width: 50%;
    margin-left: 25%;
}

/* css cho trang nha phan phoi */
#add_distributor {
    padding: 5px;
    margin: 15px 0px 0px;
    font-size: medium;
    text-align: center;
}

#distributors {
    border-collapse: collapse;
    width: 100%;
}

#distributors td, #distributors th {
    border: 1px solid #ddd;
    padding: 8px;
}

#distributors tr:nth-child(even){background-color: #f2f2f2;}

#distributors tr:hover {background-color: #ddd;}

#distributors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1590C2;
    color: white;
}

#distributors_id {
    width: 40px;
    text-align: center;
}

#distributors_discount {
    width: 90px;
    text-align: center;
}

#distributors_date {
    width: 120px;
    text-align: center;
}

/* Form thong tin nha phan phoi */
.info_form {
    display: block;
    margin: 30px;
    overflow-wrap: break-word;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 0;
}
  
.info_form > div > label {
    display: block;
    padding: 20px 20px 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    height: auto!important;
    margin: auto!important;
}
  
.col-1, .col-2, .col-3, .col-4 { 
    border-bottom: 1px solid #000000;
}
  
.info_form > div > label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    font-size: large;
    transition: all linear .3s;
    color: black!important;
}

.col-submit {
    text-align: center;
    padding: 20px;
}
.col-4 > label > input {
    text-align: center;
}
.info_form > div > label > select {
    display: block;
    width: 100%;
    padding: 0;
    margin: 16px 0 6px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: .4;
    transition: all linear .3s;
}

.info_form > label > input:focus, label > select:focus {
    opacity: 1;
}

@media(min-width: 850px){
    .info_form > div { display: inline-block; }
    .col-submit { display: block; }
    
    .col-1, .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
    .col-1 { width: 100% }
    .col-2 { width: 50% }
    .col-3 { width: 33.3333333333% }
    .col-4 { width: 25% }
    
}

.submitbtn {
    margin: 10px 10px;
}